*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

i{
    color: black;
}

body{
    background: #eae7dc;
    color: #8e8d8a;
}

#header{
    width: 100%;
    height: 92vh;
    background: #eae7dc;
    background-position: center;
    background-size: cover;

}

.container{
    padding: 10px 10%;
}

#h2h2{
    text-align: center;
    padding: 10px;
    color: #e85a4f;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.6s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #e98074;
}

#about{
    padding: 80px 0;
}

#certf{
    padding: 80px 0;
}

#skills{
    padding: 0px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.skills-row-1{
    margin: 10px 0;
}

.skills-row-2{
    margin: 10px 0;
}

.skills-row-3{
    margin: 10px 0;
}

.skills-row-1 ul li{
    list-style-type: none;
    margin: 10px 0;
}

.skills-row-2 ul li{
    list-style-type: none;
    margin: 10px 0;
}

.skills-row-3 ul li{
    list-style-type: none;
    margin: 10px 0;
}

.skills-row-1 h3{
    color: #e85a4f;
}

.skills-row-2 h3{
    color: #e85a4f;
}

.skills-row-3 h3{
    color: #e85a4f;
}

.skills-row-3 ul li span{
    color: #e85a4f;
}

#hrhr{
    margin: 2px 0;
}



.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.row2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.certf-row-1{
    flex-basis: 45%;
}

.certf-row-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.certf-row-2{
    flex-basis: 45%
}

.certf-row-2 img{
    width: 100%;
    border-radius: 15px;
}

.sub{
    font-size: 60px;
    font-weight: 600;
    color: #e98074;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #e85a4f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.6s;
}

.tab-links.active::after{
    width: 50%;
}

.tab-contents h3 span{
    color: #e98074;
}
.tab-contents h3{
    font-style: italic;
}

.tab-contents ul li{
    list-style-type: none;
    margin: 10px 0;

}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

#more{
    padding: 30px 0;
}

.listed{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.listed a{
    text-decoration: none;
    color: #e85a4f;
}

.listed h2{
    color: #e85a4f;
}

.listed div{
    background: #d8c3a5;
    padding: 40px;
    font-size: 18px;
    font-weight: 300;
    border-right: 10px;
}

nav .material-icons{
    display: none;
}

@media screen and (min-width: 300px) and (max-width: 767px) {
    #header{
        background-image: url(phoneback.png) none;
    }

    #header2{

    }

    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1{
        font-size: 30px;
    }

    nav .material-icons{
        display: block;
        font-size: 25px;
        color: black;
    }

    nav ul{
        background: #d8c3a5;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: 0.6s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .material-icons{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub{
        font-size: 30px;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }

    .about-col-1{
        margin-bottom: 30px;
    }

    .about-col-2{
        font-size: 14px;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    .conts p span{
        color: #8e8d8a;
    }

    .conts p{
        color: #e85a4f;
        font-size: 14px;
    }

    div p{
        font-size: 14px;
    }

    div h2{
        font-size: 18px;
    }

    #more{
        margin-bottom: 20%;
    }

    .certf-row-1, .certf-row-2{
        flex-basis: 100%;
    }

    .certf-row-1{
        margin-bottom: 30px;
    }

    h1, h2, h3, h4, h5, h6, p{
        font-size: smaller;
    }
}
